@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');



*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Eliminar márgenes y rellenos por defecto */
* {
  margin: 0;
  padding: 0;
}



body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #0d0d0d;
  color: #f5f5f5;
  line-height: 1.6;
  margin: 0px;
}

nav {
  display: flex;
 flex-direction: row; /* O 'row' para horizontal */
  gap: 15px; /* Crea 15px de espacio entre elementos */
  padding: 1rem 1rem;
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  font-family: 'Nippo', sans-serif;
;
}

nav a {
  color: #fff;
  text-decoration: none;
 
}

#centro{
  position:absolute;
  display: flex;
    text-align: center;
    /*
    border-style: dashed;
    border-color: aliceblue;
padding:10rem;*/
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Ajusta el centro del elemento */
}

h1{
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}