---
import EjemploComponente from '@/componentes/EjemploComponente.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import Cornisa from '@/componentes/Cornisa.astro';
---

<Plantilla>
  <Cornisa />

  <main>
    <h1>Combustión espontánea exotérmica</h1>

    <EjemploComponente titulo="Colectivo de experimentación e improvisación de imagen y sonido" contenido="Hola :)" />
  </main>
</Plantilla>

<style lang="scss"></style>
