<nav id="menu">
  <div id="menuListas">
    <span class="lineaMenu"></span>
    <span class="lineaMenu"></span>
    <span class="lineaMenu"></span>
  </div>

  <div id="encabezado">
    <div id="espacioLogoNombre">
      <div class="cajaLogo"></div>
      <h1>CEE</h1>
    </div>

    <ul class="botonesVista">
      <li class="botonVista"></li>
      <li class="botonVista"></li>
    </ul>

    <div id="botonCreditos">?</div>
  </div>
</nav>

<script></script>

<style lang="scss">
  @import '@/scss/constantes';

  p {
  }

  h1 {
  }

  /*
  // Cambiar estilos según tamaño de pantalla
  @media screen and (min-width: ) {
  }
  @media screen and (min-width: ) {
  }
  @media screen and (min-width: ) {
  }

  */
</style>
