---
interface Props {
  titulo: string;
  contenido: string;
}

const { titulo, contenido } = Astro.props;
---

<section></section>

<style lang="scss">
  main {
    height: 100vh;
    h1 {
      height: 100%;
      font-family: var(--fuenteInicio);
      font-size: 2em;
      background-color: var(--negroDarks);
      color: var(--blancoNada);
    }
  }

  h3 {
  }
</style>
